body {
    background-color: #FDF5E6;
    font-family: Arial, sans-serif;
    color: black;
}

img {
    display: block;
    margin: 0 auto;
    width: 10%;
    height: auto;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: auto;
}

th {
    background-color: #f2f2f2;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: solid 1px #333;
}

form td {
    border: none;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

form input[type="submit"] {
    display: block;
    margin: 20px auto;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.titulo img {
    margin: 0 40px;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

#confirmarPago {
    margin-top: -12px;
    margin-bottom: 40px;
}

#CD {
    width: 7%;
    height: auto;
}
